<!-- views/partials/header.ejs -->

<nav class="navbar navbar-light bg-faded" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-scissors"></span>
                ShortnSweet
            </a>
        </div>

        <ul class="nav navbar-nav">

      <li><a href="/">Home</a></li>
      <li><a href="/urls">Links</a></li>
      <li><a href="/urls/new">Shorten a link!</a></li>


        </ul>

    </div>
</nav>
