<!-- views/partials/header.ejs -->

<nav class="navbar navbar-light bg-faded" role="navigation">
    <div class="container-fluid">

        <div class="nav navbar-nav navbar-left">
            <a class="navbar-brand" href="#">
             <span class="glyphicon glyphicon-scissors"></span>
              ShortnSweet
            </a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/urls">Links</a></li>
          <li><a href="/urls/new">Shorten a link!</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <% if (username == null) { %>
          <li><form method="POST" action="/login">
            <input name="username" placeholder="login">
            <input type="submit" name="submitbutton" value="submit">
            </form></li>
          <% } else { %>
            <form action="/logout" method="POST" >
            <h5>Welcome, <%=username%><h5>
            <input type="submit" value="Logout">
            </form>
          <% }; %>
        </ul>
    </div>
</nav>
